ODOO_URL=https://odoo-ps-psus-da-steel-buildings.odoo.com/
ODOO_DB=mydb
ODOO_USERNAME=james@dabuilding.com
ODOO_PASSWORD=Aubrey0901.
FLASK_SECRET_KEY=2b93a2246dee3d875f64c2710470fc1669bcbdb2
FLASK_DEBUG=1
